# Module 5 Assignment Solution

## List Exercises Level 1

Declare an empty list

In [ ]:
# Declare an empty list

Empty_List = []

Declare a list with more than 5 items

In [11]:
# Declare a list with more than 5 items
Items = ['cloth', 'fan', 'book', 'lamp', 'pencil', 'socks']

# Find the length of your list
len(Items)

# Get the first item, the middle item and the last item of the list
first_item = Items[0:1]
print(first_item)

middle_item = Items[2:4]
print(middle_item)

last_item= Items[-1]
print(last_item)

['cloth']
['book', 'lamp']
socks

Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Sola', 25, 1.56, 'Married', 'Lagos']

Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [1]:
Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Print the list using print()
print(Companies)

# Print the number of companies in the list
print(len(Companies))

# Print the first, middle and last company
first_company = Companies[0]
print(first_company)

middle_company = Companies[3]
print(middle_company)

last_company= Companies[-1]
print(last_company)

# Print the list after modifying one of the companies
Companies[0]= 'Samsung'
print(Companies)

# Add an IT company to companies
Companies.append('Itel')
print(Companies)

# Insert an IT company in the middle of the companies list
Companies.insert(4, 'Airtel')
print(Companies)

# Change one of the it_companies names to uppercase (IBM excluded!)
Companies[1].upper()
print(Companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
Apple
Amazon
['Samsung', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Samsung', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Itel']
['Samsung', 'Google', 'Microsoft', 'Apple', 'Airtel', 'IBM', 'Oracle', 'Amazon', 'Itel']
['Samsung', 'Google', 'Microsoft', 'Apple', 'Airtel', 'IBM', 'Oracle', 'Amazon', 'Itel']

Check if a certain company exists in the it_companies list.

In [6]:
# Check if a certain company exists in the it_companies list.
Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
does_exist = 'Apple' in Companies
print(does_exist)

# Sort the list using sort() method
Companies.sort()
print(Companies)

# Reverse the list in descending order using reverse() method
Companies.reverse()
print(Companies)

# Slice out the first 3 companies from the list
first_3_companies= Companies[0:3]
print(Companies[0:3])

# Slice out the last 3 companies from the list
Last_3_companies=Companies[-3:]
print(Last_3_companies)

# Slice out the middle IT company or companies from the list

Middle_companies=Companies[-5:-2]
print(Middle_companies)

# Remove the first IT company from the list
Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del Companies[0]
print(Companies)

True
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'Microsoft', 'IBM']
['Facebook', 'Apple', 'Amazon']
['IBM', 'Google', 'Facebook']
['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Remove the middle IT company or companies from the list

In [7]:
Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del Companies[-4]
print(Companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

Remove the last IT company from the list

In [8]:
Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del Companies[-1]
print(Companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

Remove all IT companies from the list

In [10]:
Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Companies.clear()
print(Companies)

[]

Join the following lists:

In [11]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
Joined_list = front_end.extend(back_end)
print(Joined_list)

None